html, 
body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	background-color: #ff4d4d;
  background-image: url("../img/dogs.jpg");
  background-position: center;
  box-shadow: 0 0px 10px black;
	padding: 40px;
text-align: center;

}
h1{
font-size: 90px;
color: white;
text-shadow: 0 4px 20px black;
margin: 60px;
}
h2{
  background-image: url(../img);
}
header img{
   border-radius: 150px;
   width: 300px;
   border: 15px solid #FF9100;
   box-shadow: 0 0 10px;
}
  .content{
	max-width: 900px;
	margin: 0 auto;
    padding: 0 20px;
  }

  img.big-image{
  	max-width: 100%;
    box-shadow: 0 0 5px black;
  }

  p.caption{
  	font-size: 13px;
  	color: #1a76ff;
  	font-style: italic;
  }

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: #ff4d4d;
	text-decoration: none;
}
a:hover{
  color: black;
}
footer{
  margin-top: 20px;
	padding: 40px 20px;
	background-color: #e6e6e6;
  box-shadow: 0 0 10px black;
}
footer ul{
  text-align: center;
}
footer ul li{
display: inline-block;
margin: 0 5px;
}